@font-face {
	font-family: 'PF';
	src: url('../fonts/pfdintextcomppro-boldital.ttf');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'PF';
	src: url('../fonts/pfdintextcomppro-italic.ttf');
	font-weight: 500;
	font-style: normal;
}