// colors
$black: #28282C;
$prime:#12F24B;
$red: #FA4235;
$h-red: #FF5E53;
$grey: #535353;
$l-grey:#E5E5E5;
$text-gr:#A0A0A0;

//btn
$btn-secondary: #252525;

//gradients
// transition
$fast: 0.3s all;
$slow: 0.5s all;
$long: 0.9s all;
// radius
// shadow
// bg images urls