<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ilya Kantkouski</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="theme-color" content="#5256B4">

    <link rel="stylesheet" href="css/app.min.css">
</head>

<body>

    <!-- header -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="header__wrapper">
                    <img src="./img/max-logo.png" alt="MaxLine">
                    <img src="./img/logo_euro.png" alt="Euro 2021">
                </div>
            </div>
        </div>
    </header>

    