<div class="popup-main">


<div class="popup">
    <div class="popup__close-btn">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M16 1.8854L14.1146 0L7.99998 6.11457L1.8854 0L0 1.8854L6.11457 7.99998L0 14.1146L1.8854 16L7.99998 9.88542L14.1146 16L16 14.1146L9.88542 7.99998L16 1.8854Z"
                fill="#21262B" />
        </svg>
    </div>
    <div class="popup__wrapper">

        <div class="popup__instruction">
            <ul>
                <li>
                    <p class="popup__instruction_text"><span class="popup__instruction_point">1.</span>Пополни игровой
                        счет</p>
                </li>
                <li>
                    <p class="popup__instruction_text"><span class="popup__instruction_point">2.</span>Сделай ставки на
                        ЕВРО-2021</p>
                </li>
                <li>
                    <p class="popup__instruction_text"><span class="popup__instruction_point">3.</span>Оставь верный
                        прогноз</p>
                </li>
            </ul>
        </div>
        <div class="popup__info">
            <p class="popup__info_subtitle">Cроки проведения турнира: с 01.06.2021 по 11.06.2021.</p>
            <p class="popup__info_title">Для участия в турнире необхоимо:</p>
        </div>
        <div class="popup__steps">
            <ul>
                <li>
                    <p class="popup__steps_title">Зарегистрироваться</p>
                    <p class="popup__steps_subtitle">на любом из онлайн-ресурсов Maxline, верифицировать свой аккаунт
                        или уже быть клиентом Maxline.</p>
                </li>
                <li>
                    <p class="popup__steps_title">Пополнить</p>
                    <p class="popup__steps_subtitle">свой игровой счет на сумму от 20 BYN с 00:00 01.06.2021 по 20:00
                        11.06.2021 одним платежом.*</p>
                </li>
                <li>
                    <p class="popup__steps_title">Сделать 3 ставки</p>
                    <p class="popup__steps_subtitle">на любые из матчей ЕВРО-2021 на сумму от 5 BYN (сумма каждой
                        ставки) до 20:00 11.06.2021**</p>
                </li>
                <li>
                    <p class="popup__steps_title">Заполнить форму</p>
                    <p class="popup__steps_subtitle">прогноза до 20:00 11.06.2021, указав при этом номер игрового счета.
                    </p>
                </li>
                <li>
                    <p class="popup__steps_title">Оставь свой прогноз здесь.</p>
                </li>
            </ul>
        </div>
        <div class="popup__btn">
            <button>ОСТАВИТЬ ПРОГНОЗ <img src="./img/arr.png" alt=""></button>
        </div>
        <div class="popup__info-text">
            <ul>
                <li>
                    <p>Принимать участие в турнире могут все зарегистрированные на Maxline пользователи.</p>
                </li>
                <li>
                    <p>В предложении участвуют ставки, сделанные на любом из онлайн-ресурсов Maxline.</p>
                </li>
                <li>
                    <p>*Пополнить игровой счет Maxline можно любым из доступных способов.</p>
                </li>
                <li>
                    <p>**Если по каким-либо причинам будет приостановлен чемпионат, то итоги турнира будут подведены
                        после его возобновления.</p>
                </li>
                <li>
                    <p>Один участник может оставить один прогноз. Если от одного участника будет оставлено несколько
                        прогнозов, то во внимание будет приниматься прогноз, который был зафиксирован первым.</p>
                </li>
                <li>
                    <p>Участник, верно предсказавший победителя ЕВРО-2021 и лучшего бомбардира турнира, получит бонус
                        1500 BYN.</p>
                </li>
                <li>
                    <p>Если окажется несколько участников, верно предсказавших победителя ЕВРО-2021 и лучшего бомбардира
                        турнира, то данный бонус будет разделен пропорционально между ними.</p>
                </li>
                <li>
                    <p>Если лучших бомбардиров турнира будет несколько, то победителю необходимо угадать хотя бы одного.
                    </p>
                </li>
                <li>
                    <p>Объявление результатов будет опубликовано на сайте maxline.by и в социальных сетях Maxline.</p>
                </li>
                <li>
                    <p>- Пополнение, сделанное для участия в данном бонусе, не может принимать участия в других
                        предложениях.</p>
                </li>
                <li>
                    <p>- Полученный бонус необходимо отыграть с коэффициентом не ниже 1,6 (сделать одну или несколько
                        ставок). Ставки типа Система , VIP-ставки, на TV-игры, Live-лотереи, финансовые ставки и Cash
                        Out в отыгрыше не учитываются.</p>
                </li>
                <li>
                    <p>- Зачисление бонуса происходит в течение 3 часов после объявления результатов турнира.</p>
                </li>
                <li>
                    <p>- Данное предложение доступно один раз для одного человека, семьи, домашнего адреса, адреса
                        электронной почты, номера телефона, общего устройства, одного IP-адреса.</p>
                </li>
                <li>
                    <p>- Может производиться проверка регистрационных данных и транзакций по любым причинам. Если
                        вследствие проверки будет выявлено, что участник/-и использует/-ют запрещенные стратегии или
                        мошенничество, в том числе мультиаккаунтинг, компания может не производить зачисление бонуса.
                    </p>
                </li>
                <li>
                    <p>- Букмекер оставляет за собой право приостановить действие бонуса.</p>
                </li>
            </ul>
        </div>
        <div class="popup__btn">
            <button>СДЕЛАТЬ СТАВКУ <img src="./img/arr.png" alt=""></button>
        </div>
    </div>
</div>
</div>