<section class="promo">
    <img src="./img/bg.png" alt="">
    <div class="container">
        <div class="promo__wrapper">
            <div class="promo__left-img">
                <img src="./img/man.png" alt="the man">
            </div>
            <div class="promo__info-block">
                <div class="promo__info-block_title">
                    <p>ЗАБЕРИ</p>
                </div>
                <div class="promo__info-block_count">
                    <p class="promo__info-block_count-num">1500</p>
                    <p class="promo__info-block_count-type">BYN</p>
                </div>
                <div class="promo__info-block_subtitle">
                    <p>за верный прогноз</p>
                    <p>на ЕВРО-2021</p>
                </div>
                <div class="promo__info-block_btns">
                    <button><span>Участвовать</span> <img src="./img/arr.png" alt="arrow"></button>
                    <a href="#">УСЛОВИЯ БОНУСА</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- partial:_popup.html -->
    <!-- partial -->